<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>동남아여행</h1>
    <a href="/phil">필리핀</a>
    <a href="/manila">마닐라</a>
    <a href="/indonesia">인도네시아</a>

    <hr>
    <div>마닐라 여행영상입니다.</div>
    <iframe width="1264" height="711" src="https://www.youtube.com/embed/ZQrCTcVgNW0" title="[여행vlog] 2박3일 마닐라여행🤍" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <hr>
    <div>Copyright by 문필욱</div>
</body>
</html>