<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border=5 align="center" height="200" width="50%" cellpadding="10" bgcolor="yellow">
        <thead>
            <tr><th>이름</th><th>나이</th><th>위치</th></tr>
        </thead>
        <tbody align="center">
            <tr><td>홍길동</td><td>20</td><td>서울</td></tr>
            <tr><td>이순신</td><td>25</td><td>부산</td></tr>
        </tbody>
    </table>
</body>
</html>