<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/image">이동</a>
    <a href="/image" target="_blank">이동</a>
    <a href="/image" target="myi">이동</a>
    <br>
    <iframe name="myi" src="/table" width="500" height="400" frameborder="5"></iframe>
    <br>
    <iframe width="1163" height="654" src="https://www.youtube.com/embed/iILFBGm_I9M" frameborder="0" allowfullscreen></iframe>


</body>
</html>